<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      ID of account : {{id}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions">
      <ion-label color="dark">{{transaction['id']}}</ion-label>
      <ion-label color="{{transaction['value'] >= 0 ? 'success' : 'danger'}}">{{transaction['value']}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label color="dark">Solde :</ion-label>
        <ion-label color="dark">{{this.solde}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
