<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [ngStyle]="{'background-color': color}">
      Monnaies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-list-header>
          <ion-col>
            <ion-label>Monnaie</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Symbole</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Valeur</ion-label>
          </ion-col>
        </ion-list-header>
      </ion-row>
    </ion-grid>
      
    <ion-list>
      <ion-item *ngFor="let change of changes">
        <ion-label color="dark">{{change.name}}</ion-label>
        <ion-label color="dark">{{change.slug}}</ion-label>
        <ion-label>{{change.value}}</ion-label>
      </ion-item>
    </ion-list>
    <form (ngSubmit)="setChange()">
      <ion-item>
        <ion-label position="floating">Monnaie</ion-label>
        <ion-input type="text" [(ngModel)]="change" name="change" required></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Symbole monnaie</ion-label>
              <ion-input type="text" [(ngModel)]="slug" name="slug" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label position="floating">valeur</ion-label>
                <ion-input type="number" [(ngModel)]="value" name="value"pattern="[0-1]*" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button expand="block" color="dark" type="submit" end>Nouvelle monnaie</ion-button>
    </form>

</ion-content>
