<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="setSettings()">
    <ion-item>
      <ion-label>API</ion-label>
      <ion-input [(ngModel)]="api" name="api"></ion-input>
    </ion-item>
    {{val}}
    <ion-item>
      <ion-label>Couleur</ion-label>
      <ion-input [(ngModel)]="color" name="color" type="color" value="#000000"></ion-input>
    </ion-item>

    <ion-button button expand="block" type="submit">Add Todo</ion-button>
    
  </form>

</ion-content>
