<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [ngStyle]="{'background-color': color}">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="setSettings()">
    <ion-item>
      <ion-label [color]="color">API</ion-label>
      <ion-input [(ngModel)]="api" name="api"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Couleur</ion-label>
      <ion-input [(ngModel)]="color" name="color" type="color" value="color"></ion-input>
    </ion-item>

    <ion-button button expand="block" type="submit">Mettre à jour</ion-button>
    
  </form>
  <ion-button button expand="block" (click)="defaultSettings()">Remettre par défaut</ion-button>

</ion-content>
