<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [ngStyle]="{'background-color': color}">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Header of page -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenu dans myWallet {{user}}</ion-card-subtitle>
      <ion-card-title>Faites une transaction !</ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- End header -->
      

  <ion-card>
    <form (ngSubmit)="setTransaction()">

      <ion-item (click)="showMethod()">
        <ion-label>Dépense</ion-label>
        <ion-label>{{picker}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Montant</ion-label>
        <ion-input [(ngModel)]="value" name="value" type="number" value="" pattern="[0-9]*" required></ion-input>
      </ion-item>

      <ion-item (click)="showAccounts()">
        <ion-label>Compte</ion-label>
        <ion-label>{{accountPicker}}</ion-label>
      </ion-item>

      <ion-button button expand="block" type="submit">Transaction !</ion-button>
      
    </form>
  </ion-card>
</ion-content>
