<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [ngStyle]="{'background-color': color}">
      Comptes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-list-header>
        <ion-col>
            <ion-label>Compte</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>Solde</ion-label>
        </ion-col>
      </ion-list-header>
    </ion-row>
  </ion-grid>

    <ion-list>
      <ion-item *ngFor="let account of accounts" [routerLink]="['/account/', account.id]">
        <ion-label color="dark">{{account.name}}</ion-label>
        <ion-label color="{{account.value >= 0 ? 'success' : 'danger'}}">{{account.value}}</ion-label>
        <ion-icon *ngIf="account.favorite" name="star-outline"></ion-icon>
      </ion-item>
    </ion-list>
    <form (ngSubmit)="setAccount()">
      <ion-item>
        <ion-label position="floating">Compte</ion-label>
        <ion-input type="text" [(ngModel)]="account" name="account" required></ion-input>
      </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Solde actuel</ion-label>
            <ion-input type="number" [(ngModel)]="value" name="value" pattern="[0-9]*" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
              <ion-label position="floating">Compte favori</ion-label>
              <ion-input type="number" [(ngModel)]="favorite" name="favorite" max="1" pattern="[0-1]*" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" color="dark" type="submit" end>Nouveau compte</ion-button>
  </form>
</ion-content>
