<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comptes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let account of accounts">
      <ion-label color="dark" [routerLink]="['/account/', account.id]">{{account.name}}</ion-label>
      <ion-label color="dark">{{account.value}}</ion-label>
      <ion-icon *ngIf="!account.favorite" name="star-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <form (ngSubmit)="addAccount()">
    <ion-item>
      <ion-label position="floating">Ajouter</ion-label>
      <ion-input type="text" [(ngModel)]="account" name="account" required></ion-input>
    </ion-item>
    <ion-button expand="block" color="dark" type="submit" end>Ajouter compte</ion-button>
  </form>
</ion-content>
